.modalCheckout .modal-content{
    background-color: #282c34;
    color:lightgray;
}

.formFooter{
    padding: 0.75rem 0 0 0.75rem;
}

.mensajeIngreseDatos{
    text-align: center;
    padding-bottom: 10px;
}