.itemCard{
    width: 18rem;
    color: black;
    margin-bottom: 1rem !important;
    height:30rem;
}

.itemCard:hover{
    box-shadow: 5px 5px 5px rgb(211, 211, 211);
    border-color: rgb(114, 114, 114)
}

.itemImageContainer{
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.itemImage {
    width: 100%;
    height: 19rem;
    object-fit: cover;
}

.itemCard .itemText{
    font-size: 14px;
}

.itemCard .itemPrice{
    font-size: 24px;
    font-weight: normal;
}