.itemDetailImage{
    /*max-width:25rem;*/
    /*width:100%;*/
    /*min-height: 90vh;*/
    /*width:21rem;*/
    height:20rem;
    /*border: solid 1px lightgray;*/
}

.itemDetailImageContainer{
    margin-bottom: 10px;
}

.App-detail {
    /*background-color: #282c34;*/
    background-color: white;
    min-height: 100vh;
    padding-top:70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    /*color: white;*/
}

.itemTitle{
    font-size: 20px;
}

.itemDescription{
    font-size: 16px;
}

.itemPrice{
    font-size: 26px;
}

.purchaseControls{
    /*border-top: 1px solid rgba(0,0,0,.125);*/
    margin-bottom:15px;
}

.purchaseControls .btnIrAlCarrito{
    margin-left: 20px;
}

.cartIcon{
    margin-top:-4px;
}

.itemStock{
    font-size:15px;
}