button.btnAddToCart:disabled,
button.btnAddToCart[disabled]{
    cursor: not-allowed;
    pointer-events: all !important;
}

.btnCount{
    border-color:white;
    font-size: 16px;
    font-weight: bold;
}

.counterCointainer{
    border:solid 1px gray;
    border-radius: 5px;
    width:300px;
    max-width:95%;
}

.lblCounter{
    width:200px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}

.btnAddToCart{
    margin-top:0.5rem;
    width:300px;
    max-width:95%;
}