.nav-link:not(.nav-cart).active{
    border-bottom: solid 3px #0b5ed7;
    font-weight: bold;
}

.nav-link:not(.nav-cart):hover{
    background-color:rgb(228, 241, 247);
}

.nav-cart{
    color: rgba(0,0,0,.7);
}

.nav-cart.active{
    color: rgba(0,0,0,.7);
}

.nav-cart:hover{
    color: rgba(0,0,0,.5);
}

.navbar-brand{
    text-transform: capitalize;
    font-weight: 500;
    font-style: italic;
    text-shadow: 1px;
    color:#555273;
}