.messageContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.messageContainer h1{
    font-weight: bold;
}

.messageFooter{
    margin-top:15px;
}